
@{
    @model IEnumerable<Errand>
    Layout = "_LoginLayout";
}
@section toolbar{   <ul>
    <li><a class="reports" asp-controller="Manager" asp-action="StartManager">Start(Ärenden)</a></li>
    <li class="right"><a class="logout" asp-controller="Home" asp-action="Index">Logga ut</a></li>

</ul>}



<h2>Ärenden</h2>
<p class="info">Du är inloggad som avdelningschef</p>

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td class="label">Välj handläggare:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <select name="status">
                <option selected="selected">Välj alla</option>
                <option value="stat0">Inrapporterad</option>
                <option value="stat1">Ingen åtgärd</option>
                <option value="stat2">Påbörjad</option>
                <option value="stat3">Klar</option>
            </select>
        </td>
        <td>
            <select name="investigator">
                <option selected="selected">Välj alla</option>
                <option value="inv0">Martin Kvist</option>
                <option value="inv1">Lena Larsson</option>
                <option value="inv2">Oskar Ivarsson</option>
                <option value="inv3">Susanne Fred</option>
            </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>

<!--Nedan ser man en lista på ärenden-->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>
    @foreach (Errand errand in Model)
    {
        <tr>
            <td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
            <td><a asp-controller="Coordinator" asp-action="CrimeCoordinator">@errand.ErrandID</a></td>
            <td>@errand.TypeOfCrime</td>
            <td>@errand.StatusId</td>
            <td>@errand.DepartmentId</td>
            <td>@errand.EmployeeId</td>
        </tr>
    }
</table>