
@{
    @model IErrandRepository
    Layout = "_LoginLayout";
}
@section toolbar{   <ul>
    <li><a class="reports" asp-controller="Manager" asp-action="StartManager">Start(Ärenden)</a></li>
    <li class="right"><a class="logout" asp-controller="Account" asp-action="Logout">Logga ut</a></li>

</ul>}



<h2>Ärenden</h2>
<p class="info">Du är inloggad som avdelningschef</p>

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td class="label">Välj handläggare:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <select name="status">
                <option selected="selected">Välj alla</option>
                @foreach (ErrandStatus errandStatus in Model.ErrandStatuses)
                {
                    <option>@errandStatus.StatusId</option>
                }
            </select>
        </td>
        <td>
            <select name="investigator">
                <option selected="selected">Välj alla</option>
                @foreach (Employee employee in ViewBag.investigatorList)
                {
                    <option>@employee.EmployeeName</option>
                }
              
            </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>

<!--Nedan ser man en lista på ärenden-->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>
    @foreach (ErrandTableItem errand in ViewBag.ErrandList)
    {
<tr>
    <td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
    <td><a asp-controller="Manager" asp-action="CrimeManager" asp-route-id="@errand.ErrandId">@errand.RefNumber</a></td>
    <td>@errand.TypeOfCrime</td>
    <td>@errand.StatusName</td>
    <td>@errand.DepartmentName</td>
    <td>@errand.EmployeeName</td>
</tr>
    }
</table>