@{
    @model IQueryable<ErrandTableItem>
}
<!--Nedan ser man en lista på ärenden-->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>
    @foreach (ErrandTableItem errand in Model)
    {
        <tr>
            <td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
            <td><a asp-controller="Coordinator" asp-action="CrimeCoordinator" asp-route-id="@errand.ErrandId">@errand.RefNumber</a></td>

            <td>@errand.TypeOfCrime</td>
            <td>@errand.StatusName</td>
            <td>@errand.DepartmentName</td>
            <td>@errand.EmployeeName</td>
        </tr>
    }


</table>
