@{
    @model IEnumerable<Errand>
    Layout = "_CoordinatorLoginLayout";
}

<h2>Ärenden</h2>
<p class="info">Du är inloggad som samordnare</p>

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td class="label">Välj avdelning:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>

            <select name="status">
                <option selected="selected">Välj alla</option>
                @foreach (var item in Model.Select(s=> s.StatusId).Distinct().ToArray())
                {
                    <option>@item</option>
                }
                <!--
    <option value="stat0">Inrapporterad</option>
    <option value="stat1">Ingen åtgärd</option>
    <option value="stat2">Påbörjad</option>
    <option value="stat3">Klar</option>
        -->
            </select>
        </td>
        <td>
            <select name="department">
                <option selected="selected">Välj alla</option>
                @foreach (var item in Model.Select(s => s.DepartmentId).Distinct().ToArray())
                {
                    <option>@item</option>
                }
                <!--
    <option value="teknik">Tekniska avloppshanteringen</option>
    <option value="klimat">Klimat och energi</option>
    <option value="miljo">Miljö och Hälsoskydd</option>
    <option value="natur">Natur och Skogsvård</option>
    <option value="avfall">Renhållning och Avfall</option>
        -->
            </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>



<!--Nedan ser man en lista på ärenden-->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>
    @foreach (Errand errand in Model)
    {
<tr>
    <td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
    <td><a asp-controller="Coordinator" asp-action="CrimeCoordinator" asp-route-id="@errand.ErrandId">@errand.ErrandId</a></td>

    <td>@errand.TypeOfCrime</td>
    <td>@errand.StatusId</td>
    <td>@errand.DepartmentId</td>
    <td>@errand.EmployeeId</td>
</tr>
    }


</table>
